<h1>Cats</h1>
<% for @cat in @cats %>
	<p><%= @cat.id.to_s + ". " + @cat.name%></p>
<% end %>

<h1>Users</h1>
<% for @user in @users %>
	<p><%= @user.id.to_s + ". My name is " + @user.username + " and I am " + @user.age.to_s + " years old. My email is " + @user.email + "."%></p>
<% end %>

<h1>Todo</h1>
<% for @todo in @todos %>
	<% if @todo.finished %>
	<p><%= @todo.id.to_s + ". Your task: " + @todo.tasks + ". Finished: yes."%></p>
	<% else %>
	<p><%= @todo.id.to_s + ". Your task: " + @todo.tasks + ". Finished: no."%></p>
	<% end %>
<% end %>
